<!DOCTYPE html>
<html lang="en">
  <%- include("partials/htmlhead") -%>
  <body class="pure-g">
    <header class="pure-u-1"><%- include("partials/navbar") -%></header>
    <main class="pure-u-1">
      <div class="pure-g">
        <div class="pure-u-1-4">
          <p class="justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sit
            totam ullam! Recusandae ea possimus sunt accusamus minima, cum
            obcaecati ullam eveniet? Blanditiis accusantium beatae animi
            consequatur facere quidem provident.
          </p>
        </div>
        <div class="pure-u-1-4">
          <p class="justify">
            Sit, expedita nostrum natus iure ab voluptatum autem dicta velit.
            Eaque, libero saepe! Voluptatem autem quam nobis temporibus sint
            veniam soluta. Pariatur praesentium nemo assumenda veritatis eius,
            deleniti error numquam.
          </p>
        </div>
        <div class="pure-u-1-2">
          <p class="justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            nemo possimus ipsa totam ratione odit tempore voluptatibus, quo
            necessitatibus ut atque qui. Rem repudiandae eum aliquid expedita a
            necessitatibus culpa. Sint officia voluptas praesentium voluptatem
            vero eaque tenetur commodi tempora autem neque delectus dolorem eos
            asperiores incidunt consectetur veniam, itaque iste. Accusamus
            corrupti autem dolorem ullam, iure ad iusto adipisci!
          </p>
        </div>
      </div>
    </main>
    <footer class="pure-u-1"><%- include("partials/footer") -%></footer>
  </body>
</html>
