<% if (data) { %>
<table class="pure-table pure-table-horizontal">
  <tr>
    <th>Name</th>
    <th>Image</th>
  </tr>
  <% data.forEach((x) => { %>
  <tr>
    <td><a href="<%= x.url %>"><%= x.name %></a></td>
    <td><img crossorigin="anonymous" src="<%= x.img.url %>" /></td>
  </tr>
  <% }) %>
</table>
<% } %>
