<!DOCTYPE html>
<html lang="en">
  <%- include("partials/htmlhead") -%>
  <body class="pure-g">
    <header class="pure-u-1"><%- include("partials/navbar") -%></header>
    <main class="pure-u-1">
      <div class="pure-g">
        <form class="pure-form pure-u-1" method="post" action="/search">
          <fieldset>
            <legend>Find artist on Spotify</legend>
            <input
              required
              type="text"
              placeholder="Artist"
              id="artist"
              name="artist"
            />
            <button type="submit" class="pure-button pure-button-primary">
              Search
            </button>
          </fieldset>
        </form>
        <div class="pure-u-1">
          <% if (error) { %> <%- include("partials/error", {error: error}) %> <%
          } else if (artists) { %> <%- include("partials/results", { artists:
          artists}) %> <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
