<nav class="pure-menu pure-menu-horizontal">
  <a href="/" class="pure-menu-heading pure-menu-link">HOME</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a href="/search" class="pure-menu-link">Search</a>
    </li>
  </ul>
</nav>
